<div id="page-content" class="row">

  <div class="networks col-md-8">

    <div class="flow-and-capacity row">

      <div class="network col">
        <div class="header row" style="background-color: pink">
          <h1>Capacity network</h1>
        </div>
        <div id="capacity-network">

        </div>
      </div>

      <div class="network col">
        <div class="header row" style="background-color: lightblue">
          <h1>Flow network</h1>
        </div>
        <div id="flow-network">

        </div>
      </div>

    </div>

    <div class="row">

      <div class="network col">
        <div class="header row" style="background-color: lightgreen">
          <h1>Residual network</h1>
        </div>
        <div id="residual-network">

        </div>
      </div>

    </div>

  </div>

  <div id="algorithm" class="col-md-4">
    <div class="header row" style="background-color: yellow">
      <h1>Algorithm</h1>
    </div>
  </div>

</div>
