<div id="page-content" class="column">

  <div id="animation-controls">
    <button mat-mini-fab color="primary" id="playButton" (click)="startAnimations()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <div id="content" class="row">


    <div class="networks col-md-8">

      <div class="flow-and-capacity row">

        <div class="network col">
          <div class="header row" style="background-color: pink">
            <h4>Capacity network</h4>
          </div>
          <div id="capacity-network">

          </div>
        </div>

        <div class="network col">
          <div class="header row" style="background-color: lightblue">
            <h4>Flow network</h4>
          </div>
          <div id="flow-network">

          </div>
        </div>

      </div>

      <div class="row">

        <div class="network col">
          <div class="header row" style="background-color: lightgreen">
            <h4>Residual network</h4>
          </div>
          <div id="residual-network">

          </div>
        </div>

      </div>

    </div>

    <div id="algorithm" class="col-md-4">
      <div class="header row" style="background-color: yellow">
        <h4>Algorithm</h4>
      </div>
    </div>

  </div>
</div>
