<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Flow Algorithms Visualized</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <div class="navbar-nav flex-grow button-row">
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/Generic']" routerLinkActive="active">Generic</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/FF']" routerLinkActive="active">Ford-Fulkerson</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/EK']" routerLinkActive="active">Edmonds-Karp</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/AOSMC']" routerLinkActive="active">AOSMC</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/Gabow']" routerLinkActive="active">Gabow</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/AODS']" routerLinkActive="active">AODS</button>
          <button mat-raised-button color="primary" [routerLink]="['/algorithm-steps/AORS']" routerLinkActive="active">AORS</button>
        </div>
      </div>
    </div>
  </nav>
</header>
