<div id="page-content" class="col">

  <mat-toolbar id="animation-controls">
    <button mat-mini-fab color="primary" id="playButton" (click)="startAnimations()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </mat-toolbar>

  <div id="content" class="row">

    <div id="networks" class="col-md-8">

      <div id="flow-and-capacity" class="row">

        <mat-card>
          <mat-card-header style="background-color: pink;">
            <mat-card-title>Capacity network</mat-card-title>
          </mat-card-header>

          <mat-card-content id="capacity-network"></mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header style="background-color: lightblue;">
            <mat-card-title>Flow network</mat-card-title>
          </mat-card-header>

          <mat-card-content id="flow-network"></mat-card-content>
        </mat-card>

      </div>

      <div id="residual" class="row">

        <mat-card>
          <mat-card-header style="background-color: lightgreen;">
            <mat-card-title>Residual network</mat-card-title>
          </mat-card-header>

          <mat-card-content id="residual-network"></mat-card-content>
        </mat-card>

      </div>

    </div>

    <div id="algorithm">

      <mat-card>
        <mat-card-header style="background-color: gold;">
          <mat-card-title style="align-items: center;">Algorithm</mat-card-title>
        </mat-card-header>

        <mat-card-content [ngSwitch]="algorithm">
          <app-generic-with-augmenting-path *ngSwitchCase="'GenericCuDMF'"></app-generic-with-augmenting-path>
          <app-ford-fulkerson *ngSwitchCase="'FF'"></app-ford-fulkerson>
          <app-edmonds-karp *ngSwitchCase="'EK'"></app-edmonds-karp>
          <app-ahuja-orlin-capacity-scaling *ngSwitchCase="'AOSMC'"></app-ahuja-orlin-capacity-scaling>
          <app-gabow *ngSwitchCase="'Gabow'"></app-gabow>
          <app-ahuja-orlin-shortest-path *ngSwitchCase="'AODS'"></app-ahuja-orlin-shortest-path>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
</div>
